#Title {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 25px;
    border-color: black;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#rectangle {
    width: auto;
    height: 60px;
    background: #d9d9d9;
}
