<div class='section-title'>
	<h1>Usuarios</h1>
</div>

<div class='section-table'>
	<div class='table-container'>
		<table class='content-table'>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Administrador</th>
					<th class='centered'>Modificar</th>
					<th class='centered'>Eliminar</th>
				</tr>
				<tbody>
					<tr>
						<td>Santino Bartolucci</td>
						<td>No</td>
						<td class='img-column'>
							<div class='column-content'>
								<div class='square edit'>
									<img src='/img/user-gear-solid.svg' alt='modify-user' />
								</div>
							</div>
						</td>
						<td class='img-column'>
							<div class='column-content'>
								<div class='square delete'>
									<img src='/img/user-slash-solid.svg' alt='delete-user' />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>Leila Coronel</td>
						<td>No</td>
						<td class='img-column'>
							<div class='column-content'>
								<div class='square edit'>
									<img src='/img/user-gear-solid.svg' alt='modify-user' />
								</div>
							</div>
						</td>
						<td class='img-column'>
							<div class='column-content'>
								<div class='square delete'>
									<img src='/img/user-slash-solid.svg' alt='delete-user' />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>Pablo Gambacorta</td>
						<td>No</td>
						<td class='img-column'>
							<div class='column-content'>
								<div class='square edit'>
									<img src='/img/user-gear-solid.svg' alt='modify-user' />
								</div>
							</div>
						</td>
						<td class='img-column'>
							<div class='column-content'>
								<div class='square delete'>
									<img src='/img/user-slash-solid.svg' alt='delete-user' />
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</thead>
		</table>
	</div>
</div>