<div class='hero'>
	<img src='/img/PickingActivities.svg' alt='Picking Activities' />
	<div>
		<h1>Organizalo</h1>
		<p>Crea, Modifica, Visualiza y Organiza tus recursos</p>
		<p>Que estas esperando? Empieza ya!</p>
		<a href='/login'>
			<button href='/login'>Iniciar</button>
		</a>
	</div>
</div>