<div class='wrapper'>
	<h2>Login</h2>
	<div class='form-box login'>
		<form action='/login' method='post'>
			<div class='input-box'>
				<img src='/img/user-solid.svg' alt='user img' />
				<input type='text' name='name' required />
				<label>Username</label>
			</div>
			<div class='input-box'>
				<img src='/img/lock-solid.svg' id='lock' onclick='ToogleVisibility()' alt='closed lock img' />
				<input type='password' name='password' id='password-inp' required />
				<label>Password</label>
			</div>
			<button type='submit' class='btn'>Login</button>
		</form>
	</div>
</div>