{{! <nav>
    <h1>Title</h1>
</nav> }}

{{! action="login.hbs" }}
<div class="login">
    <form method="post">
        <h1 id="logi">Login</h1>
        <input id="username" type="text" placeholder="Username" name="username" />
        <input id="password" type="password" placeholder="Password" name="password" />
        <button id="log" type="submit">Login</button>
    </form>
</div>