:root {
	--white: white;
	--black: #1e1e2c;
	--grey: #e5e6e7;
	--orange: #f29f67;
	--blue: #3b8ff3;
	--green: #34b1aa;
	--yellow: #e0b50f;
	--red: #cf2129;
}

.section-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 15vh;
	padding-left: 30px;
}

.section-title h1 {
	font-weight: 700;
	font-size: 70px;
	display: inline-block;
}

.section-title div {
	height: 55px;
	width: 75px;
	background-color: var(--green);
	color: var(--white);
	font-size: 26px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	transition: 0.5s ease;
	cursor: pointer;
	overflow: hidden;
}

.section-title div span {
	font-size: 2em;
	transition: 0.5s ease;
}

.section-title div p {
	margin-left: 15px;
	white-space: nowrap;
	transition: 0.5s ease;
	opacity: 0;
}

.section-title div:hover {
	width: 300px;
	transition: 0.5s ease;
}

.section-title div:hover span {
	transform: rotate(405deg);
	transition: 0.5s ease;
}

.section-title div:hover p {
	opacity: 1;
	transition: 0.5s ease;
}

.section-table {
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-container {
	width: 95%;
	height: 95%;
}

.content-table {
	width: 100%;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
	background-color: var(--green);
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
}

.content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-child(even) {
	background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
	border-bottom: 2px solid var(--green);
}

.content-table tbody tr td img {
	width: 20px;
	height: 20px;
	filter: invert(98%) sepia(42%) saturate(418%) hue-rotate(157deg) brightness(111%) contrast(100%);
}

.content-table tbody tr .img-column .column-content {
	display: flex;
	justify-content: center;
}

.content-table tbody tr .img-column .square {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.content-table tbody tr .img-column .edit {
	background-color: var(--blue);
}

.content-table tbody tr .img-column .delete {
	background-color: var(--red);
}

.centered {
	text-align: center;
}

/*#region /** POPUP Section */

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	z-index: 10;
	background-color: white;
	width: 400px;
	height: 420px;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	padding: 20px 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-header .title {
	font-size: 1.75rem;
	font-weight: bold;
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 2rem;
	font-weight: bold;
}

.modal-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}
/*#endregion */

/*#region /** FORM */
.input-box {
	background-color: var(--grey);
	position: relative;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	margin: 30px 0;
}

.checbox-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	margin: 30px 0;
	display: flex;
	align-items: center;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 0.9em;
	color: var(--black);
	font-weight: 400;
	pointer-events: none;
	transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
	top: 10px;
	font-size: 0.7em;
}

.input-box input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: var(--black);
	font-weight: 500;
	padding: 10px 35px 0 10px;
}

.checbox-box input {
	height: 25px;
	width: 25px;
	margin-right: 10px;
}

.btn {
	width: 100%;
	height: 45px;
	background-color: var(--green);
	border: none;
	border-radius: 15px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	outline: none;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--white);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.btn:hover,
.btn:focus,
.btn:active {
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
/*#endregion*/
