/*#region Basic Config*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--white: white;
	--black: #1e1e2c;
	--grey: #e5e6e7;
	--orange: #f29f67;
	--blue: #3b8ff3;
	--green: #34b1aa;
	--yellow: #e0b50f;
}

a {
	text-decoration: none;
}

body {
	background-color: var(--grey);
}

main {
	display: flex;
	justify-content: center;
	min-height: 900px;
}
/*#endregion*/

/*#region Navigation Section*/
nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--black);
}

nav .title {
	color: var(--white);
	font-size: 30px;
	margin: 50px;
	font-weight: 700;
}

nav div {
	margin-right: 25px;
	position: relative;
}

nav div .button-a {
	margin: 25px;
	font-size: 20px;
	color: var(--white);
	font-weight: 500;
	position: relative;
}

nav div .button-a::after {
	content: '';
	position: absolute;
	background-color: #34b1aa;
	height: 3px;
	width: 0;
	bottom: -5px;
	left: 0;
	transition: all 0.3s ease;
	display: block;
}

nav div .button-a:hover::after {
	width: 100%;
}

/*#endregion*/

/*#region Body Section */
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*#region Hero Section */
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 1100px;
}

.hero h1 {
	padding-bottom: 15px;
}

.hero p {
	font-weight: 500;
	padding: 15px;
	padding-left: 0;
	padding-bottom: 0px;
}

.hero button {
	margin-top: 30px;
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: var(--white);
	background-color: var(--green);
	border: none;
	border-radius: 10px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	outline: none;
	position: static;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.hero button:hover,
button:focus,
button:active {
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.hero img {
	width: 550px;
	height: 400px;
	margin: 20px;
}

/*#endregion*/

/*#endregion*/
