<div class='act-container'>
	<div class='sub-act-container'>
		{{! If activities do the for, else make a "create one" text }}
		{{!-- {{#each activities}} --}}
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>6ºC</h1>
				<a href='/deleteAct'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: Laboratorio 1</p>
				<p>Fecha: 11/9/01</p>
				<p>Hora: 8:45 - 10:28</p>
				<p>Estado: aprobado</p>
			</div>
		</div>
	</div>
	{{!-- {{/each}} --}}
</div>