<div class='wrapper'>
	<div class='form-box login'>
		<form action='/activitieForm' method='post'>
			<div class='input-box'>
				<input type='text' name='curso' required />
				<label>Curso</label>
			</div>
			<div class='input-box'>
				<input type='text' name='resource' required />
				<label>Recurso</label>
			</div>
			<div class='input-box'>
				<input type='text' name='date' required />
				<label>Fecha</label>
			</div>
			{{! Agregar campo/campos de fecha de inicio y finalizacion }}
			<button type='submit' class='btn'>Login</button>
		</form>
	</div>
</div>