<html lang='es'>

	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Easy Lab</title>

		{{! Fonts }}
		<link rel='stylesheet' href='/css/fonts.css' />

		{{! Custom CSS }}
		<link rel='stylesheet' href='/css/index.css' />
	</head>

	<body>
		<main>
			<div class='container'>
				{{{body}}}
			</div>
		</main>

	</body>

</html>