<html lang='es'>

	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Easy Lab</title>

		{{! Fonts }}
		<link rel='stylesheet' href='/css/fonts.css' />

		{{! Custom CSS }}
		<link rel='stylesheet' href='/css/index.css' />
		<link rel='stylesheet' href='/css/teacher.css' />
	</head>

	<body>
		<nav>
			{{#if user}}
				<a href='/teacherDashboard' class='title'>Easy Lab</a>
				<div>
					<a class='button-a' href='#'>Solicitud</a>
					<a class='button-a' href='/teacherDashboard'>{{name}}</a>
				</div>
			{{else}}
				<a href='/' class='title'>Easy Lab</a>
				<div>
					<a class='button-a' href='/login'>Log In</a>
				</div>
			{{/if}}
		</nav>

		<main>
			<div class='container'>
				{{{body}}}
			</div>
		</main>

	</body>

</html>